body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    height: 2080px;
    
}
#header{
    background-image: url(../images/abstract-white-canvas-textures-surface_74190-7285.avif); 
    background-size: contain;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
}
#h_mid img{
    height: 43px;
    width: 214px; 
}
.square{
    position: absolute;
    margin-top: 47px;
    height: 50px;
    width: 50px;
    transform: rotate(225deg);
    z-index: 99;
}
marquee{
    overflow: hidden;
    background-color: black;
    font-family: montserrat;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    width: 1580px;
}
.moving_txt_invisible{
    display: none;
    position: absolute;
    overflow: hidden;
    margin-top: 70px;
    z-index: -9999;
}
.moving_txt{
    display: flex;
    position: absolute;
    overflow: hidden;
    margin-top: 70px;
    z-index: -9999;
}
.navbar_invisible{
    opacity: 0;
    transform: scale(0.25) translate(0px,2050px);
    transition: 520ms;
}
.navbar{
    opacity: 1;
    transform: scale(1) translate(0px,0px);
}
#navbar{
    display: flex;
    background-color: rgb(255, 70, 70);
    margin-top: 18px;
    height: 34px;
    align-items: center;
    justify-content: center;
}
#navbar a{
    text-decoration: none;
    font-family: montserrat;
    color: rgb(255, 255, 255);
    /* transform: translateY(-12px); */
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
    transition: 70ms;
}
#navbar a:hover{
    text-decoration: none;
    font-family: montserrat;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 70, 70);
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}
.low_navb_visible{
    display: flex;
    opacity: 1;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: #ffffff;
    padding: 50px;
    align-items: center;
    justify-items: center;
    gap: 43px;
    text-align: center;
    width: fit-content;
    font-family: montserrat;
    border-radius: 50px;
    padding-top: 7px;
    padding-bottom: 7px; 
    position: absolute;
    z-index: 9999999; 
    position: fixed; 
    bottom: 5px;
    left: 29%; 
    transition: 340ms;
}
.low_navb{ 
    display: flex;
    opacity: 0;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: #ffffff;
    padding: 50px;
    align-items: center;
    justify-items: center;
    gap: 43px;
    text-align: center;
    width: fit-content;
    font-family: montserrat;
    border-radius: 50px;
    padding-top: 7px;
    padding-bottom: 7px; 
    position: absolute;
    z-index: 9999999; 
    position: fixed; 
    bottom: 5px;
    left: 29%;
    transition: 340ms;
}
#sidebar{
    top: 100px;
    left: 0;
    position: sticky;
    width: fit-content;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 20px;
    padding-right: 34px;
    font-family: montserrat;
    color: #3a3a3a;
    width: 430px;
    height: 100vh;
    overflow: scroll;
}
#filters{
    border-bottom: 4px solid rgb(61, 60, 60);
}
#sizes button{
    background-color: rgb(255, 255, 255);
    border: rgb(0, 0, 0) 1px solid;
    color: rgb(55, 54, 54);
    font-weight: bold;
    border-radius: 9px;
    width: 52px;
    margin-bottom: 7px;
    cursor: pointer;
}
#catefories{
    font-weight: bold;
    color: #3a3a3a;
}
#categories input{
    scale: 1.4;
    margin-bottom: 7px;
}
#brands select{
    border: 1px black  ;
    padding: 7px 20px;
    border-radius: 7px;
}
#price{
    height: 720px;
}
#price input{
    margin-left: 2px;
    background-color: #e6e5e5;
    border: none;
    padding: 7px 20px;
    border-radius: 7px;
}
#price button{
    margin-left: 2px;
    background-color: #ff5353;
    font-weight: bolder;
    color: white;
    border: none;
    padding: 7px 20px;
    border-radius: 7px;
}
#prod_main{
    display: flex;
    font-family: montserrat;
}
#prod_cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
#prod_sec{
    padding: 20px;
    background-color: #ffffff;
}
#add_to_cart_btn{
    cursor: pointer;
    background-color: aquamarine; 
    color: #000000; 
    padding: 7px 7px; 
    border-radius: 20px; 
    border: 1px solid mediumspringgreen; 
    font-family: montserrat; 
    font-weight: bold;
}
#add_to_cart_btn:hover{
    scale: 1.1;
    transition: 7ms;
}
#add_to_cart_btn:active{
    background-color: white;
    transition: 340ms;
}
.card{
    width: 290px;
    height: fit-content;
    overflow: hidden;
}
.card img{
    width: 410px;
    height: 520px;
}
#name_prod{
    width: 100%;
    font-size: 16px;
    font-weight: bolder;
    padding-left: 7px;
    padding-right: 7px;
}
#desc_prod{
    color: #5f5f5f;
    padding-left: 7px;
    padding-right: 7px;
}
#price{
    font-weight: bold;
    color: #3a3a3a;
    padding-left: 7px;
    padding-right: 7px;
}
.card{
    background-color: rgb(255, 255, 255);
}
.card:has(:hover){
    scale: 1.1;
    transition: 340ms;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.card a:visited{
    color: #2d2d2d;
}
#sizes button:focus{
    background-color: #2d2d2d;
    color: white;
    transition: 140ms;
}
#cart_sec{
    position: fixed;
    height: 585px;
    overflow: scroll;
    right: 0px;
    top: 70px;
    background-color: #ffffff;
    border: #b2b2b2 2px solid;
    padding: 20px;
    border-radius: 20px;
    transition: opacity 340ms;
    opacity: 0;
    z-index: -9999;
}
#cart_sec h2{
    color: #5f5f5f;
}
#cart_item{
    display: flex; 
    align-items: center; 
    border-bottom: 2px grey solid; 
    background-color: aliceblue;
}
#add_c_nav{
    position: absolute; 
    right: 20px;
    background-color: none;
    background: none;
    cursor: pointer;
    border: none;

}